---
layout: default
title: Eventos y Talleres - Ambassadeurs du Pain Venezuela
subtitle: Participa en los eventos organizados por Ambassadeurs du Pain Venezuela
keywords: Eventos Ambassadeurs du Pain Venezuela, Eventos Ambassadeurs du Pain, Eventos Embajadores del Pan, Eventos Embajadores del Pan Venezuela
image: /images/delegacion.jpg
---

<!-- Hero Section -->
<section class="bg-cover object-top h-96 text-white" style="background-image: url('/images/delegacion.jpg');">
  <div class="flex items-center justify-center h-full bg-dark-opaque">
    <div class="text-center">
      <h2 class="text-4xl font-bold">Eventos y Talleres</h2>
      <p class="text-xl mt-4">Participa en nuestros próximos eventos y talleres</p>
    </div>
  </div>
</section>

  <!-- Events and Trainings Content -->
  <section class="py-16 bg-accent">
    <div class="container mx-auto px-6">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
        {% for post in site.eventos %}
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          <img src="{{ post.image }}" alt="Imagen del artículo {{ post.title }}" class="w-full">
          <div class="p-6">
            <h3 class="text-2xl font-bold mb-2 text-primary">{{ post.title }}</h3>
            <p class="text-dark mb-4">{{ post.subtitle }}</p>
            <a href="{{ post.url }}" class="text-highlight hover:underline">Leer Más <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% include contacto.html %}
