---
layout: default
title: Sobre Nosotros - Ambassadeurs du Pain Venezuela
subtitle: Entérate quienes son los integrantes de la delegación Ambassadeurs du Pain Venezuela
keywords: Delegados Ambassadeurs du Pain Venezuela, Delegados Ambassadeurs du Pain, Delegados Embajadores del Pan, Delegados Embajadores del Pan Venezuela
image: /images/delegacion.jpg
---

<!-- Hero Section -->
<section class="bg-cover bg-center h-64 text-white"
  style="background-image: url('https://via.placeholder.com/1920x600');">
  <div class="flex items-center justify-center h-full bg-dark bg-opacity-50">
    <div class="text-center">
      <h2 class="text-4xl font-bold">Sobre Nosotros</h2>
      <p class="text-xl mt-4">Conoce más acerca de nuestra historia, valores y los integrantes de la delegación</p>
    </div>
  </div>
</section>

<!-- About Us Content -->
<section class="py-16 bg-accent">

  <div class="container mx-auto px-6">
    <div class="flex flex-col lg:flex-row items-center mb-12">
      <div class="lg:w-1/2 mb-8 lg:mb-0">
        <img src="/images/delegacion.jpg" alt="Nuestra Historia" class="w-full rounded-lg">
      </div>
      <div class="lg:w-1/2 lg:pl-12 text-dark">
        <h3 class="text-3xl font-bold mb-4 text-primary">Nuestra Historia</h3>
        <p class="mb-6">William Tse Lee es miembro del colectivo Ambassadeurs de Pain desde el 2021 y en el 2024 se
          conforma la delegación Ambassadeurs du Pain Venezuela.</p>
        <p class="mb-6">El colectivo Ambassadeurs du Pain aceptó nuestra participación en el Mondial du Pain en Nantes
          en el 2025.</p>
        <p class="mb-6">Se conformó un equipo para participar en el evento en Junio de 2024.</p>
      </div>
      <div class="lg:w-1/2 lg:pl-12 lg:py-6 text-dark"> <!-- Added padding here -->
        <h3 class="text-3xl font-bold mb-4 text-primary">Nuestros Valores</h3>
        <p class="mb-6">Nos guiamos por un conjunto de valores que reflejan nuestro compromiso con la transmisión del
          saber.</p>
        <ul class="list-disc list-inside mb-6">
          <li>Calidad: Utilizamos ingredientes de primera calidad y técnicas tradicionales.</li>
          <li>Comunidad: Fomentamos una comunidad inclusiva y solidaria.</li>
          <li>Sostenibilidad: Nos comprometemos con prácticas que respetan el medio ambiente.</li>
        </ul>
      </div>
    </div>
  </div>


  <!-- William Tse Lee -->
  <section id="respectus-panis" class="py-16 bg-accent">
    <div class="container mx-auto px-6">
      <h2 class="text-4xl font-bold text-center mb-12 text-primary">William Tse Lee</h2>
      <div class="flex flex-col lg:flex-row items-center">
        <div class="lg:w-1/2 mb-8 lg:mb-0">
          <div id="carousel-respectus" class="relative w-full">
            <div class="carousel-inner relative overflow-hidden w-full">
              <!-- Carousel item 1 -->
              <div class="william carousel-item active">
                <img src="/images/william/1.jpg" class="block w-full rounded-lg" alt="Image 1">
              </div>
              <!-- Carousel item 2 -->
              <div class="william carousel-item">
                <img src="/images/william/2.jpg" class="block w-full rounded-lg" alt="Image 2">
              </div>
              <!-- Carousel item 3 -->
              <div class="william carousel-item">
                <img src="/images/william/3.jpg" class="block w-full rounded-lg" alt="Image 3">
              </div>
              <!-- Carousel item 5 -->
              <div class="william carousel-item">
                <img src="/images/william/5.jpg" class="block w-full rounded-lg" alt="Image 5">
              </div>
              <!-- Carousel item 6 -->
              <div class="william carousel-item">
                <img src="/images/william/6.jpg" class="block w-full rounded-lg" alt="Image 6">
              </div>
              <!-- Carousel item 7 -->
              <div class="william carousel-item">
                <img src="/images/william/7.jpg" class="block w-full rounded-lg" alt="Image 7">
              </div>
              <!-- Carousel item 8 -->
              <div class="william carousel-item">
                <img src="/images/william/8.jpg" class="block w-full rounded-lg" alt="Image 8">
              </div>
              <!-- Carousel item 9 -->
              <div class="william carousel-item">
                <img src="/images/william/9.jpg" class="block w-full rounded-lg" alt="Image 9">
              </div>
            </div>
            <!-- Controls -->
            <span class="rprev carousel-control-prev" data-slide="prev"><i class="fas fa-chevron-left"></i></span>
            <span class="rnext carousel-control-next" data-slide="next"><i class="fas fa-chevron-right"></i></span>
          </div>
        </div>
        <div class="lg:w-1/2 lg:pl-12 text-dark">
          <p class="mb-6">Esta es una reseña de William Tse Lee miembro del colectivo Ambassadeurs du Pain desdel 2021 y
            fundador de la delegación de Venezuela.</p>
          <p class="mb-6">Presidente y representante de la delegación Ambassadeurs du Pain Venezuela y coach del equipo 2025.</p>
        </div>
      </div>
    </div>
  </section>



  <!-- Hero Section -->
  <section class="bg-cover bg-center h-64 text-white mb-12"
    style="background-image: url('https://via.placeholder.com/1920x600');">
    <div class="flex items-center justify-center h-full bg-dark bg-opacity-50">
      <div class="text-center">
        <h2 class="text-4xl font-bold">Miembros de la Delegación Ambassadeurs du Pain Venezuela</h2>
        <p class="text-xl mt-4">Conoce los integrantes de la delegación</p>
      </div>
    </div>
  </section>

  <div class="container mx-auto px-6 mb-12">
    <div class="flex flex-col lg:flex-row items-center mb-12">
      <div class="lg:w-1/2 lg:pl-12 text-dark">
        <h2 class="text-3xl font-bold mb-4 text-primary">Angélica Cova</h2>
        <p class="mb-6">Secretaria de delegación Ambassadeurs du Pain Venezuela y Candidata del equipo 2025.</p>
      </div>
      <div class="lg:w-1/2 mb-8 lg:mb-0">
        <img src="/images/delegacion/4.jpg" alt="Nuestra Historia" class="w-full rounded-lg">
      </div>
    </div>
  </div>

  <div class="container mx-auto px-6 mb-12">
    <div class="flex flex-col lg:flex-row items-center mb-12">
      <div class="lg:w-1/2 mb-8 lg:mb-0">
        <img src="/images/delegacion/5.jpg" alt="Nuestra Historia" class="w-full rounded-lg">
      </div>
      <div class="lg:w-1/2 lg:pl-12 text-dark">
        <h2 class="text-3xl font-bold mb-4 text-primary">Juán Banus</h2>
        <p class="mb-6">Asesor del equipo.</p>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-6 mb-12">
    <div class="flex flex-col lg:flex-row items-center mb-12">
      <div class="lg:w-1/2 lg:pl-12 text-dark">
        <h2 class="text-3xl font-bold mb-4 text-primary">Pablo Hernández</h2>
        <p class="mb-6">Nutricionista de la delegación.</p>
      </div>
      <div class="lg:w-1/2 mb-8 lg:mb-0">
        <img src="/images/delegacion/6.jpg" alt="Nuestra Historia" class="w-full rounded-lg">
      </div>
    </div>
  </div>

  <div class="container mx-auto px-6 mb-12">
    <div class="flex flex-col lg:flex-row items-center mb-12">
      <div class="lg:w-1/2 mb-8 lg:mb-0">
        <img src="/images/delegacion/7.jpg" alt="Nuestra Historia" class="w-full rounded-lg">
      </div>
      <div class="lg:w-1/2 lg:pl-12 text-dark">
        <h2 class="text-3xl font-bold mb-4 text-primary">Alexander Ramírez</h2>
        <p class="mb-6">Coordinador del equipo y de las comunicaciones.</p>
      </div>
    </div>
  </div>

</section>

{% include carrousel-s.html %}
{% include contacto.html %}