  <!-- Header -->
  <header class="bg-dark text-white py-4">
    <div class="container mx-auto flex justify-between items-center px-6">
      <h1 class="text-3xl font-bold">Ambassadeurs du Pain Venezuela</h1>
      <nav>
        <a href="/" class="text-accent hover:text-white ml-4"><i class="fas fa-home"></i> Home</a>
        <a href="/blog.html" class="text-accent hover:text-white ml-4"><i class="fas fa-users"></i> Blog</a>
        <a href="/events.html" class="text-accent hover:text-white ml-4"><i class="fas fa-calendar-alt"></i> Eventos</a>
        <a href="/aboutus.html" class="text-accent hover:text-white ml-4"><i class="fas fa-envelope"></i> Contacto</a>
      </nav>
    </div>
  </header>