  <!-- Header -->
  <header class="bg-white">
    <div class="container mx-auto flex justify-between items-center px-6 h-20">
      <a href="/" class=" h-20"><img src="/images/logo-ve-nb.jpg" class="block h-full py-1 px-2" alt="Logo"></a>
      <nav class="py-4">
        <span class="inline-block"><a href="/" class="menu-item ml-4"><i class="fas fa-home"></i> Home</a></span>
        <span class="inline-block"><a href="/blog.html" class="menu-item ml-4"><i class="fas fa-blog"></i> Blog</a></span>
        <span class="inline-block"><a href="/eventos.html" class="menu-item ml-4"><i class="fas fa-calendar-alt"></i> Eventos</a></span>
        <span class="inline-block"><a href="/comunidad.html" class="menu-item ml-4"><i class="fas fa-people-group"></i> Comunidad</a></span>
        <span class="inline-block"><a href="/nosotros.html" class="menu-item ml-4"><i class="fas fa-envelope"></i> Contacto</a></span>
      </nav>
    </div>
  </header>