<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/457786595b.js" crossorigin="anonymous"></script>
  <style>
    .bg-primary { background-color: #7f383a; }
    .bg-secondary { background-color: #f69583; }
    .bg-accent { background-color: #fffaf0; }
    .bg-dark { background-color: #7f383a; }
    .bg-highlight { background-color: #ed7205; }
    .text-primary { color: #7f383a; }
    .text-secondary { color: #f69583; }
    .text-accent { color: #fffaf0; }
    .text-dark { color: #7f383a; }
    .text-highlight { color: #ed7205; }
  </style>